@import url(./stylesheetreset.css);
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Lexend', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
 */
 * {
    transition: all .5s;
}
html{
    background-color: #000;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
}
#content{
    /* background-image: url(../img/bg3.png);
    background-repeat: no-repeat;
background-position: top;
background-size: 100%; */
overflow: hidden;
}
::-webkit-scrollbar {
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
}
h1,h2,h3,h4,h5,h6{
    text-transform: uppercase;
}
.bg{
    background-image: url(../img/mainbg.png);
        background-repeat: no-repeat;
    background-position: top;
}
body{
    position: inherit;
    overflow-x: hidden;
}
.bodybg{
    position: absolute;
    top: 0;
    left: 20%;
    z-index: 0;

}
/* figure{
    width: fit-content;
    height: fit-content;
} */
.main{
    width: 80%;
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main h1{
 font-size: 12.5rem;
 text-align: center;
 font-weight: 500;
 line-height: 16rem;
 width: 100%;
 z-index: 99;
}
/* 타이핑 */
:root {
    --ti-cursor-margin-left: 0.1em;
    --ti-cursor-color: rgb(255, 255, 255);
}

/* about --------*/
.about{
    width: 100%;
    height: 100%;
    margin: 20rem auto;
    display: flex;
 align-items: center;
 justify-content: space-evenly;
position: relative;
}
.about .left{
    width: fit-content;
    height: fit-content;
}
.about .right{
    width: 50%;
    height: fit-content;
}
.about .right .sign1{
    position: absolute;
    top: 0%;
    left: 40%;
    z-index: 0;
}
.about .right .sign2{
    position: absolute;
    left: 75%;
    top: 30%;
    z-index: 0;
}
.about .right h2{
    font-size: 5rem;
    font-weight: 800;
    line-height: 6.5rem;
    position: sticky;
}
.about .right p{
    font-size: 1.25rem ;
    margin-top: 3rem;
    line-height: 1.8rem;
    z-index: 99;
    z-index: 50;
}
/* --------------------2------------ */
.profile{
    width: 70%;
    height: 100%;
    margin: auto;
    margin-bottom: 10rem;
}
.profile h3{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 3rem ;
}
.profile .box p{
    font-size: 1.25rem;
    line-height: 1.8rem;
}
.profile .box {
    width: 100%;
    height: fit-content;
    margin-bottom: 8rem;
}
.skill{
    width: fit-content;
    height: fit-content;
    padding: 1rem 2rem;
    border: 1px solid #fff;
    border-radius: 1rem;
    margin-right: 3rem;
}
.sk1, .sk2{
    display: flex;
    margin-bottom: 1.8rem;
}
/* ---------horizontal*/
  #horizontal {
    display: flex;
    flex-wrap: nowrap;
    width: 300%;
    overflow: hidden;

  }
  #horizontal>section {
    width: 100%;
    height: 100vh;
    display: flex;

  }
/* ---------horizontal*/
#horizontal section .left{
    width: 40%;
        height: fit-content;
    margin: auto;
}
#horizontal section .right{
    width: 40%;
    margin: auto;
}
#horizontal section .left h2{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1.8rem;
}
#horizontal section .left h5{
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
#horizontal section .left>p{
    font-size: 1.25rem;
    margin-bottom: 2.5rem;
}
#horizontal section .left .tagbox{
    display: flex;
    margin-bottom: 6.25rem;
}
#horizontal section .left .tagbox .tag{
    width: fit-content;
    height: fit-content;
    padding: .5rem 1rem;
    border: 1px solid #fff;
    border-radius: .5rem;
    margin-right: 1.25rem;
}
#horizontal section .left .button{
    width: fit-content;
    height: fit-content;
    padding: 1rem 2rem;
    background-color: #808080;
    border-radius: .5rem;
}
#horizontal section .left .button:hover{
    background-color:rgb(17, 67, 139);
}
/* contect---------------------- */
.contect{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/contectbg.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.contect h2{
    font-size: 6.2rem;
    font-weight: 800;
    margin-bottom: 3rem;
    text-align: center;
}
.contect h4{
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 5rem;    
    text-align: center;
}
.contect p{
    font-size: 3rem;
    font-weight: 500;
    margin: auto;
    margin-left: 2rem;
}
.contect .flex .phone, .contect .flex .email {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 3rem;
    width: fit-content;
    height: fit-content;
    margin: auto;
}
.contect .flex figure{
display: block;
    margin: auto;
}
.contect .flex{
    width: fit-content;
    height: fit-content;
}
.contect p::after{
    content: '';
    display: block;
    width: 0%;
    height: 0.6rem;
    background-color:rgba(0, 0, 255, 0.5);
    transition: all 0.5s;
}
.contect p:hover::after{
    width: 100%;
}
/* footer */
footer{
    width: 100%;
    height: 10rem;
    color: #808080;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media screen and (max-width:1500px){
.about .right .sign2{
        left: 90%;
    }
}
@media screen and (max-width:1300px){
    html{
        font-size: 15px;
    }
    /* #content{
        background-size: 100%;
    } */
}
@media screen and (max-width:1200px) {
    html{
        font-size: 14px;
    }
    .about{
        flex-direction: column;
        margin: 20rem 0;
        position: none;
    }
    .about .right{
        width: 80%;
    }
    .about .right h2{
        text-align: center;
        margin: 5rem 0;
    }
    .about .right .sign1, .about .right .sign2{
display: none;
    }
    .profile{
        width: 80%;

    }
}

/* @media screen and (min-width:1024px) and (max-width:1199px) {
    
} */
 @media screen and (max-width:1023px) {
    html{
        font-size: 14px;
    }
    .main h1{
        font-size: 10rem;
    }
    .skill{
        padding: .5rem 1.5rem;
        margin-right: 2rem;
    }
    #horizontal>section {
        display: flex;
        flex-direction: column-reverse;
      }
      #horizontal section .left{
        width: 80%;
        text-align: center;
 
    }
    #horizontal section .right{
        width: 70%;
    }
    #horizontal section .left .tagbox{
        justify-content: center;
        margin-bottom: 3rem;
    }
    #horizontal section .left .button{
        margin: auto;
    }
    
 }
 @media screen and (max-width:767px) {
    html{
        font-size: 13px;
    }
    .main h1{
        font-size: 3.8rem;
        line-height: 10rem;
    }
    #horizontal section .right{
        width: 80%;
    }
    .skill{
        margin-right: 2rem;
    }
    .profile .box p{
        font-size: 1rem;
    }
    .profile{
        width: 90%;
    }
    .about .left{
        width: 80%;
    }
    .about .right h2{
        font-size: 3rem;
        line-height: 4rem;
    }
    .contect h2 {
        font-size: 5rem;
    }
    
    .contect h4 {
        font-size: 2rem;
    }
    
    .contect p {
        font-size: 2rem;
    }
    .contect .flex figure img{
        width: 70%;
    }
    .bodybg {
        left: 10%;
    }
 } 
 @media screen and (max-width:499px) {
    html{
        font-size: 11px;
    }
    .profile{
        width: 90%;
    }
    #horizontal section .left{
        width: 90%;
    }
    .contect .flex figure img {
        width: 40%;
    }
    .contect h2 {
        font-size: 4rem;
    }
    
    .contect h4 {
        font-size: 1.5rem;
    }
    
    .contect p {
        font-size: 1.5rem;
    }

 }